.container {
  margin-bottom: 30px;
}
#header_homework {
  font-size: 34px;
}
#stn {
  font-size: 20px;
}

.colwhite {
  border-radius: 50%;
  background-color: #cecece;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  float: right;
  margin-right: 200px
}
.flt {
  float: right;
  width: 200px;
  height: 40px;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 70px;
  border-radius: 0;
}
.navbar-header {
  padding-left: 160px;
}
.navbar-inverse {
  background-color: #1D59D0;
}
.navbar-brand {
  margin-right: 20px;
}
.navbar-toggle {
  margin-right: 20px;
  margin-left: 20px;
  background-color: transparent;
  border-color: transparent;
}
#pic1 {
  width: 40px;
  background-color: #1D59D0;
}
#ava {
  padding-left: 680px;
  float: right;
}
.panel-body {
  width: 350px;
  height: 150px;
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
  color: white;
}
#file1 {
  background-color: transparent;
  width: 300px;
  border-radius: 5px;
  border: 1.5px solid #cecece;
}
.jshtml {
  font-size: 24px;
  text-align: left;
}
#block_grey {
  background-color: #cecece;
  color: black;
}
#block_blue {
  background-color: #58C3CD;
}
#block_rose {
  background-color: #FA97AD;
}
#block_green {
  background-color: #72D494;
}
.floatleft1 {
  float: left;
  width: 80%;
}
.topic {
  font-weight: bold;
}
.mark {
  background-color: #399D5C;
  border-radius: 20px;
  width: 30px;
  height: 22px;
  float: right;
  font-size: 12px;
  padding-left: 7px;
  font-weight: bold;
}
#hw {
  color: #A6BAE6;
}